body{
background-color: white ;
font-family: sans-serif;
width: 100vh;
height: 100vh ;

}




.nav{ 
width: 100vh;
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: space-between;
flex-wrap: wrap;
margin: 100px;
padding: 100px;
}

h1{
text-align: center;

}